services:
  - type: web
    name: automba-backend
    runtime: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
  - type: web
    name: automba-frontend
    runtime: node
    buildCommand: npm install && npm run build
    startCommand: npm run start:frontend
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
